wp-config.php
wp-content/plugins/*
!wp-content/plugins/index.php
!wp-content/plugins/hello.php
!wp-content/plugins/akismet
!wp-content/plugins/all-in-one-wp-migration
wp-content/themes/*
!wp-content/themes/index.php
!wp-content/themes/twentyfourteen
!wp-content/themes/twentythirteen
!wp-content/themes/twentytwelve
wp-content/uploads/*
!wp-content/uploads/.gitkeep
